/* Header */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.gender-img {
  width: 70%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  flex-shrink: 0;
}

.gender-title {
  position: relative;
  top: -0.75em;
  color: antiquewhite;
}

.button-bmi{
  position: fixed;
  bottom: 0;
  color: white;
  background-color: purple;
  border-radius: 0;
}
